@{
    ViewData["Title"] = "Đăng nhập";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="user-containter">
	<div class="user-box">
		<h2 class="text-center mb-4">Đăng nhập</h2>
		@if (TempData["ErrorMessage"] != null)
		{
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>@TempData["ErrorMessage"]</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}

		<form asp-action="Login" method="post">
			<div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
			@* <div class="mb-2">
				<label asp-for="PhoneNumber" class="form-label"></label>
				<input asp-for="PhoneNumber" class="form-control" placeholder="Nhập số điện thoại" type="search"/>
				<span asp-validation-for="PhoneNumber" class="text-danger mt-1"></span>
			</div>
			<div class="mb-2">
				<label asp-for="Password" class="form-label"></label>
				<input asp-for="Password" class="form-control" placeholder="Nhập mật khẩu" />
				<span asp-validation-for="Password" class="text-danger mt-1"></span>
			</div> *@
			<div class="float-end">
				<a class="text-decoration-none">Quên mật khẩu?</a>
			</div>
			<input type="submit" class="btn btn-primary w-100 p-2 mt-2" value="Đăng nhập" />
			<p class="text-center mt-2">
				Chưa có tài khoản? <a asp-controller="User" asp-action="Register" class="text-decoration-none">Đăng ký</a>
			</p>
			<div class="text-center">
				<a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Quay lại</a>
			</div>

		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
